@using ToDoList_netaspmvc.Models.ViewModels
@model ToDoListViewModel

<div class="card card-outline-primary m-1 p-1" style="background-color:#F5D7E3">
    <div class="bg-faded p-1">
        <h4>
            @Model.Name
            @{
                if (Model.RecordCount == 1)
                {
                    <span class="badge badge-pill badge-primary" style="float:right; background-color: #c26994">@Model.RecordCount task</span>
                }
                else
                {
                    <span class="badge badge-pill badge-primary" style="float:right; background-color: #c26994">@Model.RecordCount tasks</span>
                }
            }
        </h4>
    </div>

    <div>
        <span class="card-text p-1">
            <span style="vertical-align:middle">@Model.Description</span>
            <a asp-controller="List" asp-action="Index" asp-route-id="@Model.Id" class="buttonView" style="float:right">
                View
            </a>
            <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" class="buttonEdit" style="float:right">
                Edit
            </a>
            <a class="buttonDelete" data-toggle="modal" data-target="#deleteModal" style="float:right; color: #FFFFFF">
                Delete
            </a>
            <a asp-controller="Home" asp-action="Copy" asp-route-id="@Model.Id" class="button" style="float:right">
                Copy
            </a>
        </span>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete the list.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        You sure want to delete this list?
                    </div>
                    <div class="modal-footer">
                        <a class="button" data-dismiss="modal" style="color: #FFFFFF">Close</a>
                        <a asp-controller="Home" asp-action="DeleteList" asp-route-id="@Model.Id" asp-route-hideCompleted="@false" class="buttonDelete" style="float:right">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
