@using ToDoList_DomainModel.Models
@model IEnumerable<ToDoList_DomainModel.Models.Record>

@{
    int id = (int)ViewData["ListIDView"];
    bool listExists = (bool)ViewData["ListExists"];
    bool hideCompleted = (bool)TempData["hideCompleted"];
    bool isListEmpty = (bool)ViewData["isListEmpty"];
    bool showDueToday = (bool)TempData["showDueToday"];
    List<Notification> notificationList = (List<Notification>)TempData["notificationList"];
    int recordCount = (int)ViewData["recordCount"];
}

<div class="bg-faded p-1">
    <h2>
        @{
        if (recordCount == 1)
        {
            <span class="badge badge-pill badge-primary" style="background-color: #c26994">@recordCount task</span>
        }
        else
        {
            <span class="badge badge-pill badge-primary" style="background-color: #c26994">@recordCount tasks</span>
        }
        }
    </h2>
 </div>

<h1>
    @ViewData["ListName"]
</h1>

<p>
    @{
        if ((isListEmpty || Model == null) && listExists)
        {
                <h2>There are currently no tasks in the list. You can add them by clicking one of the buttons below.</h2>
        }
    }
    @{
        if (listExists)
        {
            <span>
            @{
                if(isListEmpty)
                {
                    <a class="button" asp-controller="List" asp-action="Create" asp-route-id="@id" asp-route-hideCompletedAfter="@false" asp-route-showDueTodayAfter="@false">Add new task to a list</a>
                }
                else if (!isListEmpty && !hideCompleted && !showDueToday)
                {
                    <a class="button" asp-controller="List" asp-action="Create" asp-route-id="@id" asp-route-hideCompletedAfter="@false" asp-route-showDueTodayAfter="@false">Add new task to a list</a>
                    <a class="buttonDelete" asp-controller="List" asp-action="Index" asp-route-id="@id" asp-route-hideCompleted="@true" asp-route-showDueToday="@false">Hide completed</a>
                    <a class="buttonEdit" asp-controller="List" asp-action="Index" asp-route-id="@id" asp-route-hideCompleted="@false" asp-route-showDueToday="@true">Show due today</a>
                }
                else if (!isListEmpty && hideCompleted && showDueToday)
                {
                    <a class="button" asp-controller="List" asp-action="Create" asp-route-id="@id" asp-route-hideCompletedAfter="@true" asp-route-showDueTodayAfter="@true">Add new task to a list</a>
                    <a class="buttonDelete" asp-controller="List" asp-action="Index" asp-route-id="@id" asp-route-hideCompleted="@false" asp-route-showDueToday="@true">Include completed</a>
                    <a class="buttonEdit" asp-controller="List" asp-action="Index" asp-route-id="@id" asp-route-hideCompleted="@true" asp-route-showDueToday="@false">Show due all</a>

                }
                else if (!isListEmpty && !hideCompleted && showDueToday)
                {
                    <a class="button" asp-controller="List" asp-action="Create" asp-route-id="@id" asp-route-hideCompletedAfter="@false" asp-route-showDueTodayAfter="@true">Add new task to a list</a>
                    <a class="buttonDelete" asp-controller="List" asp-action="Index" asp-route-id="@id" asp-route-hideCompleted="@true" asp-route-showDueToday="@true">Hide completed</a>
                    <a class="buttonEdit" asp-controller="List" asp-action="Index" asp-route-id="@id" asp-route-hideCompleted="@false" asp-route-showDueToday="@false">Show due all</a>
                }
                else if (!isListEmpty && hideCompleted && !showDueToday)
                {
                    <a class="button" asp-controller="List" asp-action="Create" asp-route-id="@id" asp-route-hideCompletedAfter="@true" asp-route-showDueTodayAfter="@false">Add new task to a list</a>
                    <a class="buttonDelete" asp-controller="List" asp-action="Index" asp-route-id="@id" asp-route-hideCompleted="@false" asp-route-showDueToday="@false">Include completed</a>
                    <a class="buttonEdit" asp-controller="List" asp-action="Index" asp-route-id="@id" asp-route-hideCompleted="@true" asp-route-showDueToday="@true">Show due today</a>
                }
                
                if(notificationList.Count > 0)
                {
                    <a class="buttonRemind" data-toggle="modal" data-target="#reminderModal" style="color: #FFFFFF">
                        Remind
                    </a>
                }
            }
            <a class="buttonBack" asp-controller="Home" asp-action="Index">Back</a>
            </span>
        }
    }
</p>

<div class="modal fade" id="reminderModal" tabindex="-1" role="dialog" aria-labelledby="reminderModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"style="background-color: #F5D7E3">
            <div class="modal-header">
                <h5 class="modal-title" id="reminderModalTitle">Remind Today:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach (var notification in notificationList)
                {
                    <partial name="NotificationSummary" model="notification" />
                }
            </div>
            <div class="modal-footer">
                <a class="button" data-dismiss="modal" style="color: #FFFFFF">Close</a>
            </div>
        </div>
    </div>
</div>

@foreach (var record in Model)
{
    <partial name="RecordSummary" model="record" />
}

