@using System.Globalization
@model ToDoList_netaspmvc.Models.Record

@{
    ViewData["Title"] = "ViewFull";
}

<h1>@ViewData["ListName"]</h1>

<div>
    <h4>Record details:</h4>
    <div class="card card-outline-primary m-1 p-1" style="background-color:#F5D7E3">
        <div class="bg-faded p-1">
            <h4>
                Title: @Model.Title
                @{
                    if (Model.Status.Trim().Equals("Not started"))
                    {
                        <span class="badge badge-pill badge-primary" style="float:right; background-color: #b50937">@Model.Status</span>
                    }
                    else if (Model.Status.Trim().Equals("Ongoing"))
                    {
                        <span class="badge badge-pill badge-primary" style="float:right; background-color: #b59009">@Model.Status</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-primary" style="float:right; background-color: #23a307">@Model.Status</span>
                    }
                }
            </h4>
        </div>
        <div>
            Description: @Model.Description
        </div>
        <div class="bg-faded p-1">
            @{
                var recordDate = DateTime.ParseExact(Model.DueDate.Trim(), "yyyy-MM-dd", CultureInfo.InvariantCulture);
                var todayDate = DateTime.Today;

                if (recordDate > todayDate)
                {
                    <span class="badge badge-pill badge-primary" style="float:left; background-color: #23a307">Due: @Model.DueDate</span>
                }
                else if (recordDate == todayDate)
                {
                    <span class="badge badge-pill badge-primary" style="float:left; background-color: #b59009">Due: @Model.DueDate</span>
                }
                else
                {
                    <span class="badge badge-pill badge-primary" style="float:left; background-color: #b50937">Due: @Model.DueDate</span>
                }
            }
        </div>
    </div>
</div>
<div>
    <a class="buttonEdit" asp-action="Index" asp-route-id="@Model.toDoListID">Back to List</a>
</div>
